<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- reset css -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.0/build/cssreset/cssreset-min.css">
    <!-- material css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="material/css/ripples.min.css" rel="stylesheet">
    <link href="material/css/material-wfont.min.css" rel="stylesheet">
    <!-- my css -->
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-warning">
      <div class="navbar-header">
        <a class="navbar-brand">Ebola Map</a>
      </div>
    </div>
    <div id="container"></div>
    <!-- js lib -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- d3 lib -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="/javascripts/lib/datamaps.world.min.js"></script>
    <!-- boostrap lib -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="material/js/ripples.min.js"></script>
    <script src="material/js/material.min.js"></script>
    <!-- my js -->
    <script src="/javascripts/index.js"></script>
  </body>
</html>
